.trending {
  width: 98%;
  /* height: 400px; */
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 40px;
  padding: 25px;
  /* background-image: url('https://designstripe-secure.imgix.net/scene-snapshots/2c921df7-b862-4e64-b2db-5980479b219f/1647599252612/default?auto=format&h=1080&s=1070376a53e856a975df16270e9ecb35'); */
  background-size: 100%;
  background-image: linear-gradient(
    to right top,
    #dee3eb,
    #c5d0fa,
    #c1b7ff,
    #d198fd,
    #ec6de7
  );
}

.t_product_card {
  width: 240px;
  height: 340px;
  margin: auto;
  padding: 5px;
  border-radius: 19px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: red;
}
.t_product_card > img {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.t_product_inner_div {
  width: 99%;
  height: 30%;
  margin: auto;
  /* border: 1px solid red; */
}
.t_product_inner_div > div {
  /* border: 1px solid green; */
  height: 40px;
}
.t_product_inner_div > div > p {
  font-size: 12px;
}

.sale_tag {
  width: 60px;
  height: 40px;
  position: absolute;
  /* border: 1px solid red; */
left: -50px;
}
