.drawer_body{
    /* width: 400px; */
    /* border: 2px solid blue; */
}
.drawer_content{
    /* border: 2px solid blue; */
/* width: 600px !important; */
}

.cart_count{
    width: 15px;
    height: 18px;
    border: 1px solid red;
    position: absolute;
    top: 2px;
    left: 32px;
    color:white;
    text-align: center;
    background-color: red;
    padding: -4px;

    border-radius: 40%;

}