.brandproduct{
   width: 100%;
   /* height: 100vh; */
   /* border: 1px solid red; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-image: linear-gradient(to right top, #dee3eb, #c5d0fa, #c1b7ff, #d198fd, #ec6de7);


}

.bnbcard{
   width: 360px;
   border:1px solid goldenrod
}