.brandproduct {
  width: 100%;
  /* height: 100vh; */
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right bottom,
    #f9f9f9,
    #f2ebfd,
    #f0dbfd,
    #f4caf8,
    #fbb7ef
  );
}

.bnbcard {
  /* width: 300px; */
  /* border:1px solid goldenrod; */
  border-radius: 4px;
  
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6px);
  /* border: 1px solid rgba(255, 255, 255, 0.664); */
  background: rgba(250, 153, 235, 0.719);
  box-shadow:5px 6px 6px #acacac, -2px -2px 16px #ffffff;
}
.bnbcard>img{
  border-radius: 8px;
}