.logo_img{
    width: 80px;
    height: 80px;
    border-radius: 9999px;
}

.navbar {
    border: 1px solid red;
    overflow:hidden;
    background-color: #333; 
    /* width:60%; */
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(52, 96, 104);
 
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(236, 128, 27);
    width: 50%;
    z-index: 1;
    margin: auto;
    left: 25%;
    height: 300px;
    transition: height 2s;
    transition-timing-function: ease-out 2s;
    
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }


