.product_subpage{
 width: 100%;
 /* height: 100vh; */
 /* border: 1px solid red; */
 background-image: linear-gradient(to right top, #dee3eb, #c5d0fa, #c1b7ff, #d198fd, #ec6de7);
background-repeat: no-repeat;
background-size: 100%;
}

.subpage_select{
    text-transform: capitalize;
    /* background-color: green; */

}
.subpage_select>option{
    background-color: rgb(223, 193, 138);
    
}
.subpage_option{
    background: rgb(252, 203, 157) !important;
    color: white;
}