.upper_border{
    width: 100%;
    height: 60px;
    background-color: rgb(241, 197, 205);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    /* text-transform: capitalize; */
    overflow: hidden;
}


.product_types{
    display: flex;
    animation: marquee 20s linear ease;
    animation-play-state: running;
    overflow: hidden;

}
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
      
    }
   
  }

  .product_types:hover{
    animation-play-state: paused;
}

.glow_text{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #f10a0a, 0 0 20px #f39898, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #f71f8b, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }